<div class="sm:w-full mb-12 pb-8">

  <div class="report-container">

    <div class="section general-info">
      <h3>Datos Generales</h3>
      <div class="info-grid py-6 pl-2">
        <div><strong>Nombre del Requerimiento:</strong> {{ datosState.tipoRequerimientoDescripcion }}</div>
        <div><strong>Periodo de entrega:</strong> {{ datosState.periodoEntrega || 'No contiene' }} </div>
        <div><strong>Año:</strong> {{ datosState.annioVigencia || 'No contiene' }} </div>
        <div><strong>Fecha Inicio:</strong> {{ datosState.fechaInicio}} </div>
        <div><strong>Fecha Fin:</strong> {{ datosState.individual ? datosState.fechaFin : datosState.fechaEntrega}}</div>
        <div><strong>Fecha Publicación:</strong> {{ datosState.fechaPublicacion || 'No contiene' }}</div>
        <div><strong>Número de Acto Administrativo:</strong> {{ datosState.actoAdministrativo }}</div>
        <div><strong>Estado:</strong> {{datosState.estadoRequerimientoDescripcion == 'Anulado' ? 'Anulado' : obtenerEstadoEntregaDescripcion(datosState.estadoEntrega)}}</div>
      </div>
    </div>

    <div class="section report-info">
      <h3>Información de Carátula</h3>
      <div class="info-grid mt-4 pl-2">
        <div>
          <ul>
            <li><strong>NIT SIN DIGITO DE VERIFICACIÓN:</strong></li>
            <li><strong>DÍGITO DE VERIFICACIÓN:</strong></li>
            <li><strong>NOMBRE DE LA SOCIEDAD:</strong></li>
            <li><strong>GRUPO NIIF DE REPORTE:</strong></li>
            <li><strong>TIPO DE ESTADOS FINANCIEROS:</strong></li>
            <li><strong>TIPO DE VINCULACIÓN ECONÓMICA:</strong></li>
            <li><strong>TIPO DE SUBORDINADA:</strong></li>
            <li><strong>VINCULADOS ECONÓMICOS:</strong></li>
            <li><strong>1. NOMBRE VINCULADO ECONÓMICO:</strong></li>
            <li><strong>1. NIT VINCULADO ECONÓMICO:</strong></li>
            <li><strong>2. NOMBRE VINCULADO ECONÓMICO:</strong></li>
            <li><strong>2. NIT VINCULADO ECONÓMICO:</strong></li>
            <li><strong>3. NOMBRE VINCULADO ECONÓMICO:</strong></li>
            <li><strong>3. NIT VINCULADO ECONÓMICO:</strong></li>
            <li><strong>4. NOMBRE VINCULADO ECONÓMICO:</strong></li>
            <li><strong>4. NIT VINCULADO ECONÓMICO:</strong></li>
            <li><strong>5. NOMBRE VINCULADO ECONÓMICO:</strong></li>
            <li><strong>5. NIT VINCULADO ECONÓMICO:</strong></li>
            <li><strong>FECHA INICIAL ESTADOS FINANCIEROS:</strong></li>
            <li><strong>FECHA DE CORTE ESTADOS FINANCIEROS:</strong></li>
            <li><strong>MONEDA DE PRESENTACIÓN:</strong></li>
            <li><strong>FECHA DE REPORTE:</strong></li>
            <li><strong>PERIODICIDAD DE PRESENTACIÓN:</strong></li>
            <li><strong>AÑO ACTUAL DEL REPORTE:</strong></li>
            <li><strong>AÑO COMPARATIVO:</strong></li>
          </ul>
        </div>

        <div>
          <ul>
            <li><strong>{{ infoExcel.nitSinDigitoVerificacion }}</strong></li>
            <li><strong>{{infoExcel.digitoVerificacion}}</strong></li>
            <li><strong>{{infoExcel.nombreSociedad}}</strong></li>
            <li><strong>{{infoExcel.grupoNiifReporte}}</strong></li>
            <li><strong>{{infoExcel.tipoEstadosFinancieros}}</strong></li>
            <li><strong>{{infoExcel.tipoVinculacionEconomica}}</strong></li>
            <li><strong>{{infoExcel.tipoSubordinada}}</strong></li>
            <li><strong>{{infoExcel.vinculadosEconomicos}}</strong></li>
            <li><strong>{{infoExcel.nombreVinculadoEconomico1 || 'NO APLICA'}}</strong></li>
            <li><strong>{{infoExcel.nitVinculadoEconomico1 || 'NO APLICA'}}</strong></li>
            <li><strong>{{infoExcel.nombreVinculadoEconomico2 || 'NO APLICA'}}</strong></li>
            <li><strong>{{infoExcel.nitVinculadoEconomico2 || 'NO APLICA'}}</strong></li>
            <li><strong>{{infoExcel.nombreVinculadoEconomico3 || 'NO APLICA'}}</strong></li>
            <li><strong>{{infoExcel.nitVinculadoEconomico3 || 'NO APLICA'}}</strong></li>
            <li><strong>{{infoExcel.nombreVinculadoEconomico4 || 'NO APLICA'}}</strong></li>
            <li><strong>{{infoExcel.nitVinculadoEconomico4 || 'NO APLICA'}}</strong></li>
            <li><strong>{{infoExcel.nombreVinculadoEconomico5 || 'NO APLICA'}}</strong></li>
            <li><strong>{{infoExcel.nitVinculadoEconomico5 || 'NO APLICA'}}</strong></li>
            <li><strong>{{infoExcel.fechaInicialEstadosFinancieros}}</strong></li>
            <li><strong>{{infoExcel.fechaCorteEstadosFinancieros}}</strong></li>
            <li><strong>{{infoExcel.monedaPresentacion}}</strong></li>
            <li><strong>{{infoExcel.fechaReporte}}</strong></li>
            <li><strong>{{infoExcel.periodicidadPresentacion}}</strong></li>
            <li><strong>{{infoExcel.anoActualReporte}}</strong></li>
            <li><strong>{{infoExcel.anoComparativo}}</strong></li>
          </ul>
        </div>

      </div>

    </div>

    <!--    <div class="section report-info">-->
    <!--      <h3>Información de Estado de Situación Financiera</h3>-->
    <!--      <div class="info-grid2 mt-4">-->
    <!--        <div>-->
    <!--          <h4 class="mb-6 justify-center"><strong>PERÍODO a REPORTAR</strong></h4>-->
    <!--          <ul>-->
    <!--            <li><strong>ACTIVOS</strong></li>-->

    <!--            <li><strong>TOTAL ACTIVOS CORRIENTES</strong></li>-->

    <!--            <li>Efectivo Y Equivalentes Al Efectivo</li>-->
    <!--            <li>Efectivo Restringido</li>-->
    <!--            <li>Inversiones Corto Plazo</li>-->
    <!--            <li>Cuentas Comerciales por Cobrar Operacionales – Clientes</li>-->
    <!--            <li>Cuentas Por Cobrar Con Partes Relacionadas</li>-->
    <!--            <li>Activos Biológicos</li>-->
    <!--            <li>Otras Cuentas Por Cobrar</li>-->
    <!--            <li>Pagos Anticipados</li>-->
    <!--            <li>Inventarios Corrientes</li>-->
    <!--            <li>Activos Por Impuestos</li>-->
    <!--            <li>Activos Distintos Al Efectivo Pignorados Como Garantía</li>-->
    <!--            <li>Otros Activos Financieros</li>-->
    <!--            <li>Otros Activos No Financieros</li>-->
    <!--            <li><strong>VALIDACIÓN ACTIVOS CORRIENTES</strong></li>-->

    <!--            <li><strong>TOTAL ACTIVOS NO CORRIENTES</strong></li>-->

    <!--            <li>Depósitos Y Otros Activos</li>-->
    <!--            <li>Inversiones Largo Plazo</li>-->
    <!--            <li>Cuentas Comerciales Por Cobrar</li>-->
    <!--            <li>Cuentas Por Cobrar Con Partes Relacionadas</li>-->
    <!--            <li>Otras Cuentas Por Cobrar</li>-->
    <!--            <li>Propiedad De Inversión</li>-->
    <!--            <li>Activos Intangibles Y Crédito Mercantil</li>-->
    <!--            <li>Propiedades, Planta Y Equipo</li>-->
    <!--            <li>Activos Biológicos No Corrientes</li>-->
    <!--            <li>Inversiones Contabilizadas Método De Participación</li>-->
    <!--            <li>Inversiones En Subsidiarias, Negocios Conjuntos Y Asociadas</li>-->
    <!--            <li>Plusvalía</li>-->
    <!--            <li>Inventarios No Corrientes</li>-->
    <!--            <li>Activos Por Impuestos Diferidos</li>-->
    <!--            <li>Activos Por Impuestos Corrientes, No Corrientes</li>-->
    <!--            <li>Otros Activos Financieros</li>-->
    <!--            <li>Otros Activos No Financieros</li>-->
    <!--            <li>Activos Distintos Al Efectivo Pignorados Como Garantía</li>-->
    <!--            <li><strong>VALIDACIÓN ACTIVOS NO CORRIENTES</strong></li>-->
    <!--            <li><strong>VALIDACIÓN ACTIVOS</strong></li>-->

    <!--            <li><strong>PASIVOS</strong></li>-->
    <!--            <li><strong>PASIVOS CORRIENTES</strong></li>-->

    <!--            <li>Cuentas por Pagar Comerciales - Proveedores</li>-->
    <!--            <li>Otras Cuentas Por Pagar</li>-->
    <!--            <li>Pasivos Por Impuestos</li>-->
    <!--            <li>Deuda Financiera</li>-->
    <!--            <li>Otros Pasivos No Financieros</li>-->
    <!--            <li>Depósitos Y Otros Activos</li>-->
    <!--            <li>Porción Corriente Deuda</li>-->
    <!--            <li>Cuentas Por Pagar Con Partes Relacionadas</li>-->
    <!--            <li>Otras Provisiones</li>-->
    <!--            <li>Provisiones Por Beneficios A Empleados</li>-->
    <!--            <li>Ingresos Recibidos Por Cuenta De Terceros</li>-->
    <!--            <li><strong>VALIDACIÓN PASIVOS CORRIENTES</strong></li>-->

    <!--            <li><strong>PASIVOS NO CORRIENTES</strong></li>-->

    <!--            <li>Deuda A Largo Plazo</li>-->
    <!--            <li>Cuentas Por Pagar</li>-->
    <!--            <li>Provisiones Por Beneficios A Empleados</li>-->
    <!--            <li>Pasivos Por Impuestos Diferidos</li>-->
    <!--            <li>Ingresos Recibidos Por Anticipado</li>-->
    <!--            <li>Otros Pasivos No Financieros</li>-->
    <!--            <li>Otros Pasivos Financieros</li>-->
    <!--            <li>Pasivos Por Impuestos</li>-->
    <!--            <li><strong>VALIDACIÓN PASIVOS NO CORRIENTES</strong></li>-->

    <!--            <li><strong>VALIDACIÓN PASIVOS</strong></li>-->

    <!--            <li><strong>PATRIMONIO</strong></li>-->

    <!--            <li>Capital Pagado</li>-->
    <!--            <li>Prima De Emisión</li>-->
    <!--            <li>Readquisición de instrumentos de patrimonio propio</li>-->
    <!--            <li>Inversión Suplementaria Al Capital Asignado</li>-->
    <!--            <li>Otras Participaciones En El Patrimonio</li>-->
    <!--            <li>Superávit Por Revaluación</li>-->
    <!--            <li>Reserva Legal</li>-->
    <!--            <li>Otras Reservas</li>-->
    <!--            <li>Utilidad y/o Pérdida del Ejercicio</li>-->
    <!--            <li>Utilidad y/o Pérdida Acumulada</li>-->
    <!--            <li>Ganancias acumuladas por efecto de la convergencia</li>-->
    <!--            <li>Ganancias acumuladas diferentes a las generadas por efecto de la convergencia</li>-->
    <!--            <li><strong>VALIDACIÓN PATRIMONIO</strong></li>-->

    <!--            <li><strong>VALIDACIÓN GANANCIA (PÉRDIDA) NETA</strong></li>-->
    <!--            <li><strong>TOTAL PASIVO + PATRIMONIO</strong></li>-->

    <!--            <li><strong>VALIDACIÓN ECUACIÓN PATRIMONIAL</strong></li>-->
    <!--          </ul>-->
    <!--        </div>-->

    <!--        <div>-->
    <!--          <h4 class="mb-6 justify-center"><strong>2023</strong></h4>-->
    <!--          <ul>-->
    <!--            <li><strong>17.886.971.238</strong></li>-->
    <!--            <li><strong>4.164.545.964</strong></li>-->
    <!--            <li>516.421.893</li>-->
    <!--            <li>464.314.485</li>-->
    <!--            <li>8.166.351</li>-->
    <!--            <li>441.979.149</li>-->
    <!--            <li>2.144.754.347</li>-->
    <!--            <li>452.392.788</li>-->
    <!--            <li>55.364.076</li>-->
    <!--            <li>503.172.934</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->

    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>13.722.425.274</strong></li>-->
    <!--            <li>330.793.380</li>-->
    <!--            <li>3.062.509.210</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>15.212.290</li>-->
    <!--            <li>307.738.858</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>10.006.165.536</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->

    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>19.333.652.424</strong></li>-->
    <!--            <li><strong>10.308.873.170</strong></li>-->
    <!--            <li>753.646.876</li>-->
    <!--            <li>1.210.536.374</li>-->
    <!--            <li>5.936.315.491</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>15.655.507</li>-->
    <!--            <li>163.300.684</li>-->
    <!--            <li>38.690.339</li>-->
    <!--            <li>267.335.752</li>-->
    <!--            <li>6.038.903</li>-->
    <!--            <li>1.966.506.523</li>-->
    <!--            <li>23.696.448</li>-->
    <!--            <li>3.829.195</li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->

    <!--            <li><strong>9.024.779.254</strong></li>-->
    <!--            <li>6.382.123.456</li>-->
    <!--            <li>-</li>-->
    <!--            <li>2.493.631.118</li>-->
    <!--            <li>142.697.927</li>-->
    <!--            <li>326.753</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->

    <!--            <li><strong>1.446.681.186</strong></li>-->
    <!--            <li>2.604.329.245</li>-->
    <!--            <li>409.494.173</li>-->
    <!--            <li>8.936.703</li>-->
    <!--            <li>532.517.483</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>801.213.587</li>-->
    <!--            <li><strong>4.200.745.209</strong></li>-->
    <!--            <li>4.200.745.209</li>-->

    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>17.886.971.238</strong></li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--          </ul>-->
    <!--        </div>-->

    <!--        <div>-->
    <!--          <h4 class="mb-6 justify-center"><strong>2022</strong></h4>-->
    <!--          <ul>-->
    <!--            <li><strong>17.886.971.238</strong></li>-->
    <!--            <li><strong>4.164.545.964</strong></li>-->
    <!--            <li>516.421.893</li>-->
    <!--            <li>464.314.485</li>-->
    <!--            <li>8.166.351</li>-->
    <!--            <li>441.979.149</li>-->
    <!--            <li>2.144.754.347</li>-->
    <!--            <li>452.392.788</li>-->
    <!--            <li>55.364.076</li>-->
    <!--            <li>503.172.934</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->

    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>13.722.425.274</strong></li>-->
    <!--            <li>330.793.380</li>-->
    <!--            <li>3.062.509.210</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>15.212.290</li>-->
    <!--            <li>307.738.858</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>10.006.165.536</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->

    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>19.333.652.424</strong></li>-->
    <!--            <li><strong>10.308.873.170</strong></li>-->
    <!--            <li>753.646.876</li>-->
    <!--            <li>1.210.536.374</li>-->
    <!--            <li>5.936.315.491</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>15.655.507</li>-->
    <!--            <li>163.300.684</li>-->
    <!--            <li>38.690.339</li>-->
    <!--            <li>267.335.752</li>-->
    <!--            <li>6.038.903</li>-->
    <!--            <li>1.966.506.523</li>-->
    <!--            <li>23.696.448</li>-->
    <!--            <li>3.829.195</li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->

    <!--            <li><strong>9.024.779.254</strong></li>-->
    <!--            <li>6.382.123.456</li>-->
    <!--            <li>-</li>-->
    <!--            <li>2.493.631.118</li>-->
    <!--            <li>142.697.927</li>-->
    <!--            <li>326.753</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->

    <!--            <li><strong>1.446.681.186</strong></li>-->
    <!--            <li>2.604.329.245</li>-->
    <!--            <li>409.494.173</li>-->
    <!--            <li>8.936.703</li>-->
    <!--            <li>532.517.483</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>-</li>-->
    <!--            <li>801.213.587</li>-->
    <!--            <li><strong>4.200.745.209</strong></li>-->
    <!--            <li>4.200.745.209</li>-->

    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--            <li><strong>17.886.971.238</strong></li>-->
    <!--            <li><strong>CORRECTO</strong></li>-->
    <!--          </ul>-->
    <!--        </div>-->

    <!--      </div>-->

    <!--    </div>-->

    <div class="flex justify-center p-4 space-x-4">

      <button
        class="bg-secondary1 text-primary2 inline-flex items-center justify-center px-8 py-1
          hover:bg-primary2 hover:text-white font-medium rounded-full text-[16px] work-sans text-center"
        (click)="navigateTo('ver-detalle-entregas-pendientes')"> Regresar
      </button>

    </div>

  </div>

</div>
