<div class="sm:w-full mb-12 pb-8">

  <div class="report-container">

    <div class="section general-info">
      <h3>Datos Generales</h3>
      <div class="info-grid py-6 pl-2">
        <div><strong>Nombre del Requerimiento:</strong> {{ datosState.tipoRequerimientoDescripcion }}</div>
        <div><strong>Periodo de entrega:</strong> {{ datosState.periodoEntrega || 'No contiene' }} </div>
        <div><strong>Año:</strong> {{ datosState.annioVigencia || 'No contiene' }} </div>
        <div><strong>Fecha Inicio:</strong> {{ datosState.fechaInicio}} </div>
        <div><strong>Fecha Fin:</strong> {{ datosState.individual ? datosState.fechaFin : datosState.fechaEntrega}}</div>
        <div><strong>Fecha Publicación:</strong> {{ datosState.fechaPublicacion || 'No contiene' }}</div>
        <div><strong>Número de Acto Administrativo:</strong> {{ datosState.actoAdministrativo }}</div>
        <div><strong>Estado:</strong> {{datosState.estadoRequerimientoDescripcion == 'Anulado' ? 'Anulado' : obtenerEstadoEntregaDescripcion(datosState.estadoEntrega)}}</div>
      </div>
    </div>

    <div class="section report-info">
      <h3>Información del Reporte</h3>
      <div class="info-grid py-4 pl-2">
        <div>
          <h4 class="mb-6"><strong>Detalle del Reporte</strong></h4>
          <ul>
            <li>Carátula</li>
            <li>Estado de Situación Financiera</li>
            <li>Estado de Resultados</li>
            <li *ngIf="GrupoNif != 3">Estado de Resultados Integral</li>
            <li *ngIf="GrupoNif != 3">Flujo de Efectivo Indirecto</li>
            <li *ngIf="GrupoNif != 3">Flujo de Efectivo Directo</li>
            <li *ngIf="GrupoNif != 3">Estado de Cambios en el Patrimonio</li>
            <li>Dictamen del Revisor Fiscal</li>
          </ul>
        </div>
        <div>
          <h4 class="mb-6"><strong>Anexos</strong></h4>
          <ul>
            <li><a class="link-style" (click)="navigateTo('detalles-reportes')">Carátula</a></li>
            <li><a class="link-style" (click)="navigateTo('detalles-reportes')">Estado de Situación Financiera</a></li>
            <li><a class="link-style">Estado de Resultados</a></li>
            <li><a class="link-style">Estado de Resultados Integral</a></li>
            <li><a class="link-style">Flujo de Efectivo Indirecto</a></li>
            <li><a class="link-style">Flujo de Efectivo Directo</a></li>
            <li><a class="link-style">Estado de Cambios en el Patrimonio</a></li>
            <li><a class="link-style">Dictamen del Revisor Fiscal</a></li>
            <li><a class="link-style" (click)="navigateTo('anexo-entregas-pendientes')">Anexos</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex justify-center p-4 space-x-4">

      <button
        class="bg-secondary1 text-primary2 inline-flex items-center justify-center px-8 py-1
          hover:bg-primary2 hover:text-white font-medium rounded-full text-[16px] work-sans text-center"
        (click)="navigateTo('entregas-pendientes')"> Regresar
      </button>

    </div>

  </div>

</div>
