<div class="w-full mb-12 pb-8">

  <div class="report-container">

    <div class="section general-info">
      <h3>Datos Generales</h3>
      <div class="info-grid">
        <div><strong>Nombre del Requerimiento:</strong> General Analizada</div>
        <div><strong>Periodo de entrega:</strong> Anual</div>
        <div><strong>Año:</strong> 2023</div>
        <div><strong>Fecha Inicio:</strong> 10/01/2023</div>
        <div><strong>Fecha Fin:</strong> 31/12/2023</div>
        <div><strong>Fecha Entrega:</strong> 15/05/2024</div>
        <div><strong>Fecha Límite Entrega:</strong> 20/05/2024</div>
        <div><strong>Número de Acto Administrativo:</strong> 413 de 2024</div>
        <div><strong>Estado:</strong> Entregado</div>
      </div>
    </div>

    <div class="section report-info">
      <h3>Información del Reporte</h3>
      <div class="w-full">
        <app-table-otros-aspectos></app-table-otros-aspectos>
      </div>
    </div>

    <div class="flex justify-center p-4 space-x-4">

      <button
        class="bg-secondary1 text-primary2 inline-flex items-center justify-center px-8 py-1
          hover:bg-primary2 hover:text-white font-medium rounded-full text-[16px] work-sans text-center"
        (click)="navigateTo('ver-detalle-consultar-entregas')"> Regresar
      </button>

    </div>

  </div>

</div>
