<div class="w-full mb-12 pb-8">

  <div class="w-full px-6 sm:px-24 md:px-36 mt-12 mb-12">

    <h1 class="text-primary1 !font-bold">
      Nuevo requerimiento
    </h1>

    <div class="flex justify-end p-4 space-x-4">

      <h6 class="text-primary1 !font-bold">
        Fecha creación {{ fechaActual }}
      </h6>

    </div>

    <div class="flex justify-end p-4 space-x-4">

      <h6 class="text-primary1 !font-bold">
        Días del requerimiento {{ diasRequerimiento }}
      </h6>

    </div>

    <div class="flex justify-between p-4 space-x-4 pb-8">

      <h6 class="text-primary1 !font-bold">
        Nota: Los campos con * son requeridos
      </h6>

    </div>


    <!-- Carta de contenidos -->
    <div class="card mt-2">

      <!-- Contenido 1 -->
      <div class="md:flex justify-center gap-4 px-4 pb-8">

        <!-- Caja seleccionable 1 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">*Nombre del requerimiento</label>
          <select
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 focus:outline-none bg-transparent"
            [(ngModel)]="filtroNombreRequerimiento" (blur)="validateField('filtroNombreRequerimiento')"
            [ngClass]="{'input-error': !filtroNombreRequerimiento && touchedFields['filtroNombreRequerimiento']}"
            required>
            <option value="" disabled selected hidden>Seleccione el nombre del requerimiento</option>
            <option *ngFor="let nombre of nombreRequerimientos" [value]="nombre">{{ nombre }}</option>
          </select>
          <p *ngIf="!filtroNombreRequerimiento && touchedFields['filtroNombreRequerimiento']"
             class="text-red-500 text-xs mt-1">Este campo es obligatorio</p>
        </div>

        <!-- Input 1 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">*Fecha Inicio</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 focus:outline-none bg-transparent"
            type="date" [(ngModel)]="fechaInicio" (change)="onFechaInicioChange()" (blur)="validateField('fechaInicio')"
            [ngClass]="{'input-error': !fechaInicio && touchedFields['fechaInicio']}" required/>
          <p *ngIf="!fechaInicio && touchedFields['fechaInicio']" class="text-red-500 text-xs mt-1">
            Este campo es obligatorio
          </p>
        </div>

        <!-- Caja seleccionable 2 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">*Periodo de entrega</label>
          <select class="mt-1 shadow-sm rounded-md w-full p-2 border-2 focus:outline-none bg-transparent"
                  [(ngModel)]="filtroPeriodo" (blur)="validateField('filtroPeriodo')"
                  [ngClass]="{'input-error': !filtroPeriodo && touchedFields['filtroPeriodo']}" required>
            <option value="" disabled selected hidden>Seleccione el periodo de entrega</option>
            <option *ngFor="let periodo of periodos" [value]="periodo">{{ periodo }}</option>
          </select>
          <p *ngIf="!filtroPeriodo && touchedFields['filtroPeriodo']" class="text-red-500 text-xs mt-1">Este campo es
            obligatorio</p>
        </div>

        <!-- Caja seleccionable 3 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Estado del vigilado</label>
          <select
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            [(ngModel)]="filtroEstados">
            <option value="" disabled selected hidden>Seleccione el estado del vigilado</option>
            <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
          </select>
        </div>

      </div>

      <!-- Contenido 2 -->
      <div class="md:flex justify-center gap-4 px-4 pb-8">

        <!-- Input 2 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Número acto administrativo</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="number" placeholder="Digite el número de acto administrativo" [(ngModel)]="numeroActoAdministrativo">
        </div>

        <!-- Input 3 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Fecha publicación</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="date" [(ngModel)]="fechaPublicacion">
        </div>

        <!-- Input 4 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Año de vigencia</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="text" placeholder="Digite el número de año" [(ngModel)]="annioVigencia" maxlength="4"
            pattern="[0-9]{4}" (input)="validarAnnio($event)">
        </div>

        <!-- Caja seleccionable 4 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">*Tipo de programación</label>
          <select
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            [(ngModel)]="filtroProgramaciones" (ngModelChange)="onProgramacionChange()"
            (blur)="validateField('filtroProgramaciones')"
            [ngClass]="{'input-error': !filtroProgramaciones && touchedFields['filtroProgramaciones']}" required>
            <option value="" disabled selected hidden>Seleccione el tipo de programación</option>
            <option *ngFor="let programacion of programaciones" [value]="programacion">{{ programacion }}</option>
          </select>
          <p *ngIf="!filtroProgramaciones && touchedFields['filtroProgramaciones']" class="text-red-500 text-xs mt-1">
            Este campo es obligatorio</p>
        </div>

      </div>

      <!-- Contenido 3 -->
      <div class="md:flex justify-center gap-4 px-4 pb-16">

        <!-- Carga de archivo pdf -->
        <div class="flex flex-col w-full h-full justify-center items-start pt-6l my-auto mb-2">

          <p class="text-primary3 font-semibold">
            Cargar acto administrativo
          </p>

          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                           [error]="errorStates[1]" (uploadFile)="OnUploadButton($event)"/>

        </div>

      </div>


      <!-- Contenido desplegable -->
      <div class="md:flex justify-center gap-x-4 px-4 pb-4">

        <!-- Delegatura-->
        <div class="md:flex justify-center gap-4 px-4 pb-4" *ngIf="filtroProgramaciones === 'Delegatura'">

          <!-- Input 5 -->
          <div class="w-full">
            <label class="text-primary3 font-medium h-full text-xs">*Fecha Fin</label>
            <input
              class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
              type="date" [(ngModel)]="fechaFin" [attr.min]="fechaInicio" (change)="calcularDias()"
              [disabled]="!fechaInicio" [ngClass]="{'input-error': fechaFinInvalida}"/>
            <p *ngIf="fechaFinInvalida" class="text-red-500 text-xs mt-1">
              La fecha fin no puede ser menor o igual a la fecha de inicio.
            </p>
          </div>

          <div class="w-full">
            <label class="text-primary3 font-medium h-full text-xs">*Delegatura</label>
            <select
              class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
              [(ngModel)]="filtroDelegaturas" (change)="onDelegaturaChange()" [disabled]="isDisabledDelNit">
              <option value="" disabled selected hidden>Seleccione la delegatura</option>
              <option *ngFor="let delegatura of delegaturas" [value]="delegatura">{{ delegatura }}</option>
            </select>
          </div>

          <div class="w-full" *ngIf="filtroDelegaturas != ''">

            <!-- Caja seleccionable 6 -->
            <div class="w-full">
              <label class="text-primary3 font-medium h-full text-xs">*Tipo de vigilado</label>
              <select
                class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
                [(ngModel)]="filtroVigilados" [disabled]="isDisabledTodos">
                <option value="" disabled selected hidden>Seleccione la delegatura</option>
                <option *ngFor="let vigilado of vigilados" [value]="vigilado">{{ vigilado }}</option>
              </select>
            </div>

          </div>

          <!-- Botón Adicionar -->
          <div class="p-7">
            <app-primary-button type="button" (click)="btnAdicionar(1)" [disabled]="!isFormValid() || isDisabledTodos">
              Adicionar
            </app-primary-button>
          </div>

        </div>


        <!-- Digito NIT-->
        <div class="md:flex justify-center gap-4 px-2 pb-4"
             *ngIf="filtroProgramaciones === 'Programación por dígito NIT'">

          <!-- Input 6 -->
          <div class="w-full">
            <label class="text-primary3 font-medium h-full text-xs">*Fecha Fin</label>
            <input
              class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
              type="date" [(ngModel)]="fechaFin" [attr.min]="fechaInicio" (change)="calcularDias()"
              [disabled]="!fechaInicio" [ngClass]="{'input-error': fechaFinInvalida}"/>
            <p *ngIf="fechaFinInvalida" class="text-red-500 text-xs mt-1">
              La fecha fin no puede ser menor o igual a la fecha de inicio.
            </p>
          </div>

          <!-- Caja seleccionable 7 -->
          <div class="w-full">
            <label class="text-primary3 font-medium h-full text-xs">*Programación por dígitos NIT</label>
            <select
              class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
              [(ngModel)]="filtroDigitos" [disabled]="isDisabledDelNit">
              <option value="" disabled selected hidden>Seleccione la programación por dígitos NIT</option>
              <option *ngFor="let digito of digitos" [value]="digito">{{ digito }}</option>
            </select>
          </div>

          <div class="w-full" *ngIf="filtroDigitos === 'Último Dígito'">

            <!-- Input 7 -->
            <div class="w-full">
              <label class="text-primary3 font-medium h-full text-xs">*Dígito</label>
              <input
                class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
                type="text" placeholder="Dígite el número" [(ngModel)]="digitoUnico" maxlength="1"
                (input)="validateDigitInput($event)">
            </div>

          </div>

          <div class="md:flex w-full"
               *ngIf="filtroDigitos === 'Dos últimos dígitos' || filtroDigitos === 'Tres últimos dígitos'">

            <!-- Input 8 -->
            <div class="w-full">
              <label class="text-primary3 font-medium h-full text-xs">*Dígitos Iniciales</label>
              <input
                class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
                type="text"
                placeholder="Dígite los números iniciales"
                [(ngModel)]="digitoInicial"
                (input)="validateRangeDigitInput($event)">
            </div>

            <!-- Input 9 -->
            <div class="w-full">
              <label class="text-primary3 font-medium h-full text-xs">*Dígitos Finales</label>
              <input
                class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
                type="text"
                placeholder="Dígite los números finales"
                [(ngModel)]="digitoFinal"
                (input)="validateRangeDigitInput($event)"
                [ngClass]="{'input-error': error}">
              <div *ngIf="error" class="text-red-500 text-xs mt-1">
                El valor de los dígitos finales debe ser mayor o igual que los dígitos iniciales.
              </div>
            </div>

          </div>

          <!-- Botón Adicionar -->
          <div class="p-7">
            <app-primary-button type="button" (click)="btnAdicionar(2)" [disabled]="!isFormValid()">Adicionar
            </app-primary-button>
          </div>

        </div>

        <!-- Individual NIT-->
        <div class="md:flex justify-center gap-4 px-4 pb-4"
             *ngIf="filtroProgramaciones === 'Programación individual por NIT'">

          <!-- Input 10 -->
          <div class="w-full">
            <label class="text-primary3 font-medium h-full text-xs">*Fecha Fin</label>
            <input
              class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
              type="date" [(ngModel)]="fechaFin" [attr.min]="fechaInicio" (change)="calcularDias()"
              [disabled]="!fechaInicio" [ngClass]="{'input-error': fechaFinInvalida}"/>
            <p *ngIf="fechaFinInvalida" class="text-red-500 text-xs mt-1">
              La fecha fin no puede ser menor o igual a la fecha de inicio.
            </p>
          </div>

          <!-- Input 11 -->
          <div class="w-full">
            <label class="text-primary3 font-medium h-full text-xs">*Ingrese el NIT</label>
            <input
              class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
              type="text" placeholder="Dígite el número NIT de la empresa" [(ngModel)]="programacionNIT" maxlength="14"
              (input)="validateDigitInput($event)">
          </div>

          <!-- Input 12 -->
          <div class="w-full">
            <label class="text-primary3 font-medium h-full text-xs">*Razón social</label>
            <input
              class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
              type="text" placeholder="Digite el nombre completo de la razón social" [(ngModel)]="razonSocial"
              [disabled]="true">
          </div>

        </div>

      </div>

      <div class="md:flex justify-center gap-x-4 px-4 pb-4" *ngIf="filtroProgramaciones && isAdicionar">

        <div class="w-full">

          <app-table-programaciones (editClicked)="openEditModal($event)" (deleteClicked)="deleteItem($event)"
                                    [headers]="headers" [data]="datosTable"></app-table-programaciones>

        </div>

      </div>

      <div class="flex justify-end p-4 space-x-4 pb-8">

        <!-- Botón Guardar Principal -->
        <app-primary-button type="button" [disabled]="!habilitarGuardar" (click)="onGuardar()">Guardar
        </app-primary-button>

        <!-- Botón Cancelar Principal -->
        <button
          class="bg-secondary1 text-primary2 inline-flex items-center justify-center px-8 py-1
          hover:bg-primary2 hover:text-white font-medium rounded-full text-[16px] work-sans text-center"
          (click)="navigateToAdministracion()">
          Cancelar
        </button>

      </div>

    </div>

  </div>

</div>

<p-dialog
  header="Header"
  [(visible)]="showEditModal"
  [modal]="true"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">

      <span class="font-bold white-space-nowrap">
        Editar programación de id {{ datosEditar.id }}
      </span>
    </div>
  </ng-template>
  <span class="p-text-secondary block mb-5">Actualizar información.</span>
  <!-- FORMULARIO EDIT-->
  <div class="w-full h-full px-2 py-4">
    <!-- fecha fin -->
    <div class="flex align-items-center gap-3 mb-3">
      <label for="fechaFin" class="text-primary3 font-semibold w-6rem h-full flex justify-center items-center">Fecha
        Fin</label>
      <input id="fechaFin"
             class="shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
             type="date" [(ngModel)]="fechaFin" #fechaFinRef="ngModel" required
             [ngClass]="{'input-error': fechaFinRef.invalid && (fechaFinRef.dirty || fechaFinRef.touched)}"
             (change)="calcularDias()">
      <div *ngIf="fechaFinRef.invalid && (fechaFinRef.dirty || fechaFinRef.touched)">
        <span class="text-red-500 text-xs">Este campo es obligatorio.</span>
      </div>
    </div>
    <div *ngIf="filtroDelegaturas != 'Todos' && filtroVigilados != 'Todos' && filtroProgramaciones === 'Delegatura'"
         class="flex align-items-center gap-3 mb-3">
      <label for="vigilado" class="text-primary3 font-semibold w-6rem h-full flex justify-center items-center">Tipo de
        vigilado</label>
      <select id="vigilado"
              class="shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent flex justify-center items-center"
              [(ngModel)]="filtroVigilados" required>
        <option value="" disabled selected hidden>Seleccione el tipo de vigilado</option>
        <option *ngFor="let vigilado of vigilados" [value]="vigilado">{{ vigilado }}</option>
      </select>
    </div>

    <!-- digitos nit -->
    <div *ngIf="filtroProgramaciones === 'Programación por dígito NIT'" class="flex align-items-center gap-3 mb-3 mt-2">

      <div *ngIf="filtroDigitos === 'Último Dígito'">

        <div class="w-full">
          <label class="text-primary3 font-medium h-full">*Dígito</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="number" placeholder="Dígite el número"
            (input)="validarDigito($event)" [(ngModel)]="digitoUnico" #digitoUnicoRef="ngModel" required
            [ngClass]="{'input-error': digitoUnicoRef.invalid && (digitoUnicoRef.dirty || digitoUnicoRef.touched)}">
          <div *ngIf="digitoUnicoRef.invalid && (digitoUnicoRef.dirty || digitoUnicoRef.touched)">
            <span class="text-red-500 text-xs">Este campo es obligatorio.</span>
          </div>
        </div>

      </div>

      <div *ngIf="filtroDigitos === 'Dos últimos dígitos' || filtroDigitos === 'Tres últimos dígitos'">

        <!-- Input 10 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full">*Dígitos Iniciales</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="number" placeholder="Dígite los números iniciales"
            (input)="validarDigito($event)" [(ngModel)]="digitoInicial" #digitoInicialRef="ngModel" required
            [ngClass]="{'input-error': digitoInicialRef.invalid && (digitoInicialRef.dirty || digitoInicialRef.touched)}">
          <div *ngIf="digitoInicialRef.invalid && (digitoInicialRef.dirty || digitoInicialRef.touched)">
            <span class="text-red-500 text-xs">Este campo es obligatorio.</span>
          </div>
        </div>

        <!-- Input 11 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full">*Dígitos Finales</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="number" placeholder="Dígite los números finales"
            (input)="validarDigito($event)" [(ngModel)]="digitoFinal" #digitoFinalRef="ngModel" required
            [ngClass]="{'input-error': digitoFinalRef.invalid && (digitoFinalRef.dirty || digitoFinalRef.touched)}">
          <div *ngIf="digitoFinalRef.invalid && (digitoFinalRef.dirty || digitoFinalRef.touched)">
            <span class="text-red-500 text-xs">Este campo es obligatorio.</span>
          </div>
        </div>

      </div>

    </div>
  </div>

  <ng-template pTemplate="footer">

    <!-- Botón Guardar Modal -->
    <app-primary-button type="button" class="mt-2 ms-2" (click)="editDataTable()">Guardar</app-primary-button>

    <!-- Botón Cancelar Modal -->
    <button class="bg-secondary1 text-primary2 inline-flex items-center justify-center px-8 py-1 mt-2
          hover:bg-primary2 hover:text-white font-medium rounded-full text-[16px] work-sans text-center"
            (click)="closeModal()">
      Cancelar
    </button>

  </ng-template>

</p-dialog>

