<div class="w-full mb-12 pb-8">

  <div class="w-full px-6 sm:px-24 md:px-36 mt-12 mb-12">

    <h1 class="text-primary1 !font-bold">
      Nuevo requerimiento
    </h1>

    <div class="flex justify-end p-4 space-x-4">

      <h6 class="text-primary1 !font-bold">
        Fecha creación 10-10-2024
      </h6>

    </div>

    <div class="flex justify-end p-4 space-x-4">

      <h6 class="text-primary1 !font-bold">
        Dias del requerimiento 10
      </h6>

    </div>

    <div class="flex justify-between p-4 space-x-4 pb-8">

      <h6 class="text-primary1 !font-bold">
        Nota: Los campos con * son requeridos
      </h6>

    </div>


    <!-- Carta de contenidos -->
    <div class="card mt-2">

      <!-- Contenido 1 -->
      <div class="md:flex justify-center gap-4 px-4 pb-8">

        <!-- Input 1 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">*Nombre del requerimiento</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="text" placeholder=" ">
        </div>

        <!-- Input 2 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">*Fecha Inicio</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="date" placeholder="dd/mm/aaaa">
        </div>

        <!-- Input 3 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">*Fecha Fin</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="date" placeholder="dd/mm/aaaa">
        </div>

      </div>

      <!-- Contenido 2 -->
      <div class="md:flex justify-center gap-4 px-4 pb-8">

        <!-- Input 4 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">*Periodo de entrega</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="text" placeholder=" ">
        </div>

        <!-- Input 5 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Delegatura</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="text" placeholder=" ">
        </div>

        <!-- Input 6 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Tipo de vigilado</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="text" placeholder=" ">
        </div>

        <!-- Botón Adicionar -->
        <div class="p-7">
          <app-primary-button type="button">Adicionar</app-primary-button>
        </div>

      </div>

      <!-- Contenido 3 -->
      <div class="md:flex justify-center gap-4 px-4 pb-8">

        <!-- Input 7 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Estado vigilado</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="text" placeholder=" ">
        </div>

        <!-- Input 8 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Programación por digitos NIT</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="number" placeholder=" ">
        </div>

      </div>

      <!-- Contenido 4 -->
      <div class="md:flex justify-center gap-4 px-4 pb-8">

        <!-- Input 9 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Digitos Iniciales</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="number" placeholder=" ">
        </div>

        <!-- Input 10 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Digitos Finales</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="number" placeholder=" ">
        </div>

        <!-- Botón Adicionar -->
        <div class="p-7">
          <app-primary-button type="button">Adicionar</app-primary-button>
        </div>

      </div>

      <!-- Contenido 5 -->
      <div class="md:flex justify-center gap-4 px-4 pb-8">

        <!-- Input 11 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Programación individual por NIT</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="number" placeholder=" ">
        </div>

        <!-- Botón buscar NIT -->
        <div class="p-7">
          <app-primary-button type="button">Buscar</app-primary-button>
        </div>

        <!-- Input 12 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Razón Social</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="number" placeholder=" ">
        </div>

        <!-- Botón buscar razon social -->
        <div class="p-7">
          <app-primary-button type="button">Buscar</app-primary-button>
        </div>

      </div>

      <!-- Contenido 6 -->
      <div class="md:flex justify-center gap-4 px-4 pb-8">

        <!-- Input 13 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Número acto administrativo</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="number" placeholder=" ">
        </div>

        <!-- Input 14 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Fecha publicación</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="date" placeholder=" ">
        </div>

        <!-- Input 15 -->
        <div class="w-full">
          <label class="text-primary3 font-medium h-full text-xs">Año</label>
          <input
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 border-secondary1 focus:outline-none focus:border-primary1 bg-transparent"
            type="number" placeholder=" ">
        </div>

      </div>

      <!-- Contenido 7 -->
      <div class="md:flex justify-center gap-4 px-4 pb-8">

        <!-- Carga de archivo pdf -->
        <div class="flex flex-col w-full h-full justify-center items-start pt-6l my-auto mb-2">
          <p class="text-primary3 font-semibold">
            Cargar acto administrativo
          </p>

          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                           [error]="errorStates[1]" (uploadFile)="OnUploadButton($event)"/>
        </div>

      </div>

      <div class="flex justify-end p-4 space-x-4 pb-8">

        <!-- Botón Guardar -->
        <app-primary-button type="button">Guardar</app-primary-button>

        <!-- Botón Cancelar -->
        <button
          class="bg-secondary1 text-primary2 inline-flex items-center justify-center px-8 py-1
          hover:bg-primary2 hover:text-white font-medium rounded-full text-[16px] work-sans text-center"
          (click)="navigateToAdministracion()">
          Cancelar
        </button>

      </div>

    </div>

  </div>

</div>

