.report-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
}

.section {
  margin-bottom: 20px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

h3 {
  background-color: #0d6efd; /* Fondo azul */
  color: white; /* Texto blanco */
  padding: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}
