<div class="mt-6 w-full mb-6 hidden sm:block">

  <div class="flex flex-col">

    <div class="inline-block shadow">

      <div class="min-w-full py-2">

        <div class="overflow-x-auto">

          <div class="h-full">

            <table class="w-full overflow-auto border-2 border-secondary1">

              <thead class="bg-secondary1 sticky top-0 text-left font-semibold tracking-wide text-primary2 z-10">

              <tr class="border-b">

                <th *ngFor="let header of headers" class="px-5 py-3 font-semibold tracking-wider">
                  <span [innerHTML]="header.title"></span>
                </th>

              </tr>

              </thead>

              <tbody *ngIf="paginatedData.length > 0">

              <tr class="text-primary3 border-b-2 border-secondary1 bg-white" *ngFor="let item of paginatedData">

                <td class="px-5 py-5">
                  <p>{{ item.archivo }}</p>
                </td>

                <td class="px-5 py-5">
                  <p>{{ item.fechaCargue }}</p>
                </td>

                <td class="px-5 py-5">
                  <p>{{ item.usuario }}</p>
                </td>

                <td class="px-5 py-5">
                  <p>{{ item.descripcion }}</p>
                </td>

                <td class="px-5 py-5">
                  <p class="whitespace-no-wrap text-center">
                    <span (click)="onButtonClick(item.idAnexoEntregasPendiente)"
                          class="pi pi-search w-full h-full sm:text-xl text-base text-primary2 text-medium hover:text-primary1 cursor-pointer"></span>
                  </p>
                </td>

              </tr>

              </tbody>

              <tbody *ngIf="paginatedData.length == 0">

              <tr>

                <td [attr.colspan]="headers.length" class="text-center py-5">

                  <p class="work-sans text-lg font-normal text-primary2 italic">
                    No hay ningún registro con los criterios de búsqueda o filtros seleccionados
                  </p>

                </td>

              </tr>

              </tbody>

            </table>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="mt-6 w-full mb-6 sm:hidden">

  <!-- cuando hay registros -->
  <div class="border-2 bg-white border-secondary1 max-h-[28rem] overflow-y-auto" *ngIf="paginatedData.length > 0">

    <!-- Contenedor general con scroll -->
    <div class="flex flex-col space-y-6" *ngFor="let item of paginatedData">

      <div class="border-2 bg-white border-secondary1 py-4 px-4">

        <div class="flex flex-col space-y-4">

          <!-- Recorremos los headers y mostramos las filas correspondientes -->
          <div class="flex justify-between" *ngFor="let header of headers; let i = index">

            <div class="w-1/2 font-semibold text-primary2 p-2" [innerHTML]="header.title"></div>

            <!-- Condicionales de visualización aplicados -->
            <div class="w-1/2 p-2">

              <p class="whitespace-no-wrap">
                {{ formatField(item[info[i]]) }}
              </p>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- cuando no hay registros -->
  <div class="border-2 bg-white border-secondary1 max-h-[28rem] overflow-y-auto" *ngIf="paginatedData == 0">

    <p class="work-sans text-lg font-normal text-primary2 italic flex justify-center">
      No hay ningún registro con los criterios de búsqueda o filtros seleccionados
    </p>

  </div>

</div>

<app-paginator [data]="pageLength" (pageChange)="onPageChanged($event)"></app-paginator>

