<div class="w-full mb-12 pb-8">

  <div class="report-container">

    <div class="section general-info">
      <h3>Datos Generales</h3>
      <div class="info-grid py-6 pl-2">
        <div><strong>Nombre del Requerimiento:</strong> {{ datosState.tipoRequerimientoDescripcion }}</div>
        <div><strong>Periodo de entrega:</strong> {{ datosState.periodoEntrega || 'No contiene' }}</div>
        <div><strong>Año:</strong> {{ datosState.annioVigencia || 'No contiene' }}</div>
        <div><strong>Fecha Inicio:</strong> {{ datosState.fechaInicio }}</div>
        <div><strong>Fecha Fin:</strong> {{ datosState.individual ? datosState.fechaFin : datosState.fechaEntrega }}
        </div>
        <div><strong>Fecha Publicación:</strong> {{ datosState.fechaPublicacion || 'No contiene' }}</div>
        <div><strong>Número de Acto Administrativo:</strong> {{ datosState.actoAdministrativo }}</div>
        <div>
          <strong>Estado:</strong> {{ datosState.estadoRequerimientoDescripcion == 'Anulado' ? 'Anulado' : obtenerEstadoEntregaDescripcion(datosState.estadoEntrega) }}
        </div>
      </div>
    </div>

    <div class="section report-info">
      <h3>Información de Anexos</h3>
      <div class="mt-6 grid grid-cols-2 px-4">
        <div>
          <h4 class="mb-6"><strong>Detalle del Reporte</strong></h4>
          <ul>
            <li>Carátula</li>
            <li>Estado de Situación Financiera</li>
            <li>Estado de Resultados</li>
            <li>Estado de Resultados Integral</li>
            <li>Flujo de Efectivo Indirecto</li>
            <li>Flujo de Efectivo Directo</li>
            <li>Estado de Cambios en el Patrimonio</li>
            <li>Dictamen del Revisor Fiscal</li>
          </ul>
        </div>
        <div>
          <h4 class="mb-6 break-words"><strong>Tipo de Requerido(Obligatorio/Opcional)</strong></h4>
          <ul>
            <li>OPCIONAL</li>
            <li>OBLIGATORIO</li>
            <li>OBLIGATORIO</li>
            <li>OBLIGATORIO</li>
            <li>OBLIGATORIO</li>
            <li>OBLIGATORIO</li>
            <li>OBLIGATORIO</li>
            <li>OBLIGATORIO</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="section indicators">
      <h3>Cargar archivos</h3>

      <div class="md:flex justify-center gap-4 px-4 pb-8 mt-6">

        <div class="w-full mt-8">
          <label class="text-primary3 font-semibold h-full text-xs">*Anexo</label>
          <select
            class="mt-1 shadow-sm rounded-md w-full p-2 border-2 focus:outline-none bg-transparent"
            [(ngModel)]="anexo" (blur)="validateField('anexo')"
            (change)="checkAdicionarButtonState()"
            [ngClass]="{'input-error': !anexo && touchedFields['anexo']}">
            <option value="" disabled selected hidden>Seleccione el anexo</option>
            <option *ngFor="let nombre of nombreAnexoDatos" [value]="nombre.id">{{ nombre.descripcion }}
            </option>
          </select>
          <p *ngIf="!anexo && touchedFields['anexo']"
             class="text-red-500 text-xs mt-1">Este campo es obligatorio</p>
        </div>

        <div class="flex flex-col w-full h-full justify-center items-start pt-6 my-auto mb-2">

          <p class="text-primary3 font-semibold">
            *Cargar archivo
          </p>

          <app-file-upload class="mt-2 h-full" [dataClass]="dataClass" [maxFiles]="1" mimes=".pdf"
                           [error]="errorStates[1]" (uploadFile)="OnUploadButton($event)"></app-file-upload>

        </div>

        <div class="flex p-4 space-x-4 mt-10 me-96">

          <app-primary-button type="button" (click)="btnAdicionar()" [disabled]="isAdicionarDisabled">
            Adicionar
          </app-primary-button>

        </div>

      </div>

      <div class="w-full" *ngIf="Object.keys(archivos).length > 0">
        <table class="min-w-full bg-white border border-gray-300 mt-4">
          <thead>
          <tr>
            <th class="py-2 px-4 border-b">Nombre del Archivo</th>
            <th class="py-2 px-4 border-b">Estado</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let key of Object.keys(archivos)">
            <td class="py-2 px-4 border-b">{{ key }}</td>
            <td class="py-2 px-4 border-b"
                [ngClass]="{ 'bg-success text-white': archivos[key] }">{{ archivos[key] ? 'Cargado' : 'No cargado' }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="flex justify-center p-4 space-x-4">

        <app-primary-button type="button" (click)="btnGuardar()" [disabled]="isGuardarDisabled">
          Enviar
        </app-primary-button>

        <button
          class="bg-secondary1 text-primary2 inline-flex items-center justify-center px-8 py-1
          hover:bg-primary2 hover:text-white font-medium rounded-full text-[16px] work-sans text-center"
          (click)="goBack()"> Regresar
        </button>

      </div>

    </div>

  </div>

</div>

<!-- modal error -->
<app-alert [showModal]="showErrorModal" title="Error en la conexión" textColor="text-error" [showSubtitle]="false"
           [message]="'Estamos experimentando inconvenientes técnicos con el envió de la solicitud, por favor intente más tarde'"
           buttonText="Continuar" [showFirstButton]="true" [showCancelButton]="false" TypeAlert="error"
           (close)="onCloseModal()" (closeByButton1)="onCloseModal()"
           (closeByIcon)="onCloseModal()"
           (closeByBackdrop)="onCloseModal()" (close)="onCloseModal()"></app-alert>


<!-- modal de loading -->
<app-alert [showModal]="showLoadingModal" title="Verificando datos" subtitle="Un momento por favor."
           message="Se está validando los anexos subidos" [showFirstButton]="false" [showCancelButton]="false"
           TypeAlert="loader"></app-alert>

<!-- Modal enviar y validar -->
<app-alert [showModal]="showSuccessModal" title="validación exitosamente" textColor="text-success"
           [showSubtitle]="false"
           [message]="'Los anexos han sido cargados y su solicitud ha sido recibida. estado actualizado a En proceso. pasada la fecha limite su reporte se actualizará a Entregado'"
           [isIcon]="false" [showFirstButton]="true" [showCancelButton]="false" TypeAlert="success"
           (closeByButton1)="goBack()" (closeByButton2)="goBack()" buttonText="Continuar"
           (closeByBackdrop)="goBack()"></app-alert>
