

<div class="bg-gray-50/50 w-full h-full overflow-x-hidden">
  <app-header/>
  <!-- side bar azul -->
  <app-menu-navegacion></app-menu-navegacion>
  <!-- indicador - marcador seccion -->
  <div class="px-4 bg-[#333333] padding-title">
    <div class="flex items-center">
      <p class="text-white title-module">
        <b>Financiero</b>
      </p>
    </div>
  </div>

  <div class="z-4">
    <div class="">
      <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
      <router-outlet />
    </div>
  </div>
  <div class="text-blue-gray-600 z-1">
    <app-footer />
  </div>
</div>
